<?php
add_stylesheet("<link rel='stylesheet' href='".G5_THEME_URL."/template/footer/style.css'>", 0);
?>
<!-- 내용시작 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/footer.css" />
</head>

<body>
    <footer class="footer">
        <div class="footer_left_div">
            <div class="footer_left">
                <div class="footer_left_s">
                    <img class="q_logo" src="/images/q_logo.png">
                </div>
                <div class="footer_left_s pc-mobile">
                    <p>다인에프씨(주)</p>
                    <p>대표자 : 이현우</p>
                    <p>사업자등록번호 : 217-81-24157</p>
                    <p>TEL. 1644-5727</p>
                </div>
                <div class="footer_left_m mobile-pc">
                    <p>다인에프씨(주)</p>
                    <p>대표자 : 이현우</p>
                </div>
                <div class="footer_left_m mobile-pc">
                    <p>사업자등록번호 : 217-81-24157</p>
                    <p>TEL. 1644-5727</p>
                </div>
                <div class="footer_left_s">
                    <p>Copyright ⓒ 다인에프씨(주) All Right Reserved.</p>
                    <p onclick="window.open('https://xn--ov3b86nsk.com/bbs/content.php?co_id=project','_blank')">CREATED BY VWEB</p>
                </div>
            </div>
        </div>
        <div class="footer_right_div">
            <div class="footer_right rltv">
                <div class="footer_line absol"></div>
                <p class="footer_agree_text absol">개인정보처리방침</p>
                <div class="footer_call absol" onclick="location.href ='tel:1644-5727'">
                    <img class="q_call" src="/images/q_call.png">
                    <p>1644.5727</p>
                </div>
                <div class="footer_sns absol">
                    <div class="footer_sns_div" onclick="window.open('https://www.facebook.com/hochicken/','_blank')">
                        <img class="f_01" src="/images/f_01.png">
                    </div>
                    <div class="footer_sns_div" onclick="window.open('https://www.instagram.com/hochicken_official/#','_blank')">
                        <img class="f_02" src="/images/f_02.png">
                    </div>
                    <div class="footer_sns_div" onclick="window.open('https://blog.naver.com/ho-chicken','_blank')">
                        <img class="f_03" src="/images/f_03.png">
                    </div>
                </div>
                <div class="footer_right_s">
                    <p>호치킨 소개</p>
                    <p onclick="window.location.href='https://hochicken.co.kr'">호치킨 소개</p>
                </div>
                <div class="footer_right_s">
                    <p>매뉴안내</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=menu&step=step_01#menu_move'">치킨</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=menu&step=step_02#menu_move'">피자</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=menu&step=step_03#menu_move'">사이드</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=menu&step=step_04#menu_move'">안주/홀메뉴</p>
                </div>
                <div class="footer_right_s">
                    <p>매장찾기</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=map/#map_section'">매장 목록</p>
                </div>
                <div class="footer_right_s">
                    <p>커뮤니티</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=community&step=step_01#community_move'">소식</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=community&step=step_02#community_move'">이벤트</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=community&step=step_03#community_move'">고객의 소리</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=community&step=step_04#community_move'">제안</p>
                    <p onclick="window.location.href='https://hochicken.co.kr/bbs/content.php?co_id=community&step=step_05#community_move'">호치킨 미디어</p>
                </div>
                <div class="footer_right_s">
                    <p>창업안내</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- 개인정보처리방침 start -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">×</span>
            <div id="policy">
                <div class="policy_title">
                    <h2>개인정보처리방침</h2>
                </div>
                <div class="policy_con">
                    <p class="policy_text">
                        (주)다인에프씨(이하 '회사’라 함)은(는) 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은
                        처리방침을
                        두고 있습니다. 회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다. 본 방침은 2024년 12월 24일부터 시행됩니다.<br>
                        <br>
                        1. 개인정보의 수집 및 이용 목적<br>
                        ① 회사는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며 이용 목적이 변경될 경우에는 개인정보 보호법 제18조에
                        따라
                        별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.<br>
                        가. 고객상담 : 가맹 관련 문의 확인 및 답변을 위한 연락통지, 처리결과 통보 등을 목적으로 개인정보를 처리합니다.<br>
                        나. 정보제공 : 회사에서 주최하는 프로그램에 대한 정보 제공 등의 목적으로 개인정보를 처리합니다.<br>
                        ② 회사는 다음과 같은 방법으로 개인정보를 수집합니다.<br>
                        - 홈페이지<br>
                        <br>
                        2. 처리하는 개인정보 항목<br>
                        ① 회사는 다음의 개인정보 항목을 처리하고 있습니다.<br>
                        가. 고객상담<br>
                        - 필수항목 : 이름, 연락처 (접속 IP 정보, 쿠키, 서비스 이용 기록, 접속 로그)<br>
                        - 선택항목 : 없음<br>
                        나. 정보제공<br>
                        - 필수항목 : 이름, 연락처 (접속 IP 정보, 쿠키, 서비스 이용 기록, 접속 로그)<br>
                        - 선택항목 : 없음<br>
                        <br>
                        3. 개인정보의 처리 및 보유 기간<br>
                        ① 회사는 법령에 따른 개인정보 보유.이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유, 이용기간 내에서 개인정보를 처리, 보유합니다.<br>
                        ② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.<br>
                        가. 고객상담 : 사이트 이용자의 문의 확인 및 답변을 위한 연락통지, 처리결과 통보 등을 목적으로 개인정보를 처리합니다.<br>
                        나. 정보제공 : 회사에서 주최하는 프로그램에 대한 정보 제공 등의 목적으로 개인정보를 처리합니다.<br>
                        다. 개인정보 보유기간 : 5년<br>
                        <br>
                        4. 개인정보의 파기<br>
                        ① 회사는 원칙적으로 개인정보 처리목적이 달성된 경우에는 보유기간을 거친 후 지체 없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.<br>
                        - 파기절차 : 이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시
                        파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.<br>
                        - 파기기한 : 이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료
                        등 그
                        개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.<br>
                        - 파기방법 : 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br>
                        <br>
                        5. 개인정보의 제3자 제공에 관한 사항<br>
                        ① 회사는 원칙적으로 이용자의 개인정보를 1. 개인정보의 수집 및 이용 목적에서 명시한 범위 내에서 처리하며, 이용자의 사전 동의 없이는 본래의 범위를 초과하여 처리하거나
                        제3자에게 제공하지 않습니다.<br>
                        단, 다음의 경우에는 개인정보를 처리할 수 있습니다.<br>
                        - 이용자가 사전에 제3자 제공 및 공개에 동의한 경우<br>
                        - 법령 등에 의해 제공이 요구되는 경우<br>
                        - 서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적/기술적인 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우<br>
                        - 개인을 식별하기에 특정할 수 없는 상태로 가공하여 이용하는 경우<br>
                        ② 개인정보를 제3자에게 제공하게 될 시 개인정보 취급방침을 통하여 반드시 제공받는 자, 이용목적, 제공하는 개인정보 항목, 보유 및 이용기간 등에 대한 내용을
                        고지합니다.<br>
                        ③ 단, 이용자가 제3자 제공 및 공개에 동의하지 않은 경우 회사에서 제공하는 서비스의 제한 혹은 정보 습득에 있어 불이익을 얻을 수 있습니다.<br>
                        <br>
                        6. 개인정보 처리의 위탁<br>
                        ① 회사는 개인정보를 위탁하지 않으며, 개인정보를 위탁하게 될 시 최소 15일 전에 별도로 공지사항을 통해 공지한 뒤 개인정보 취급방침을 개정합니다.<br>
                        <br>
                        7. 정보주체의 권리, 의무 및 행사방법<br>
                        ① 정보주체는 회사에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.<br>
                        가. 개인정보 열람요구<br>
                        나. 오류 등이 있을 경우 정정 요구<br>
                        다. 삭제요구<br>
                        라. 처리정지 요구<br>
                        ② 제1항에 따른 권리 행사는 회사에 대해 개인정보 보호법 시행규칙 별지 제8호 서식에 따라 서면, 전자우편, FAX 등을 통하여 하실 수 있으며 회사는 이에 대해 지체
                        없이
                        조치하겠습니다.<br>
                        ③ 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우 회사는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.<br>
                        ④ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른
                        위임장을
                        제출하셔야 합니다.<br>
                        <br>
                        8. 개인정보 수집 장치의 설치, 운영 및 거부에 관한 사항<br>
                        ① 회사는 고객님의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)' 등을 운용합니다.<br>
                        가. 쿠키란?<br>
                        - 회사는 개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다.<br>
                        - 쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에게 보내는 아주 작은 텍스트 파일로 이용자 컴퓨터의 하드디스크에 저장됩니다. 이후 이용자가 웹 사이트에
                        방문할
                        경우 웹 사이트 서버는 이용자의 하드 디스크에 저장되어 있는 쿠키의 내용을 읽어 이용자의 환경설정을 유지하고 맞춤화된 서비스를 제공하기 위해 이용됩니다.<br>
                        - 쿠키는 개인을 식별하는 정보를 자동적/능동적으로 수집하지 않으며, 이용자는 언제든지 이러한 쿠키의 저장을 거부하거나 삭제할 수 있습니다.<br>
                        나. 회사의 쿠키 사용 목적<br>
                        - 이용자들이 방문한 회사의 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 이용자 규모 등을 파악하여 이용자에게 광고를 포함한 최적화된
                        맞춤형
                        정보를 제공하기 위해 사용합니다.<br>
                        다. 쿠키의 설치/운영 및 거부<br>
                        - 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나,
                        아니면
                        모든 쿠키의 저장을 거부할 수도 있습니다.<br>
                        - 다만, 쿠키의 저장을 거부할 경우에는 일부 서비스는 이용에 어려움이 있을 수 있습니다.<br>
                        - 쿠키 설치 허용 여부를 지정하는 방법 (Internet Explorer의 경우)은 다음과 같습니다.<br>
                        (1) [도구] 메뉴에서 [인터넷 옵션]을 선택합니다.<br>
                        (2) [개인정보 탭]을 클릭합니다.<br>
                        (3) [개인정보취급 수준]을 설정하시면 됩니다.<br>
                        <br>
                        9. 개인정보관리책임자<br>
                        ① 회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고
                        있습니다.<br>
                        ▶ 개인정보 보호 책임자<br>
                        - 부서명: 대표이사<br>
                        - 담당자: 문선일<br>
                        - 연락처: 1644-5727<br>
                        ② 정보주체는 회사의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수
                        있습니다.
                        회사는 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 개인정보처리방침 end-->
</body>
 <script src="/js/script_footer.js"></script> 
</html>
<!-- 내용끝 -->

<script src="<?=G5_THEME_URL?>/template/footer/script.js" ></script>
  